{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "quotes": ["error", "single"],
    "linebreak-style": "off",
    "indent": ["error", 2],
    "max-len": ["error", {"code": 120}]
  }
}
